@use '../utilites/spacing.scss' as spaces;
@use '../config/layout.scss' as layout;

$container-horizontal-spacing: spaces.spacing('extra-small');


.c-list {
  display: flex;
  align-items: center;
  width: 100%;
  background: #fff;
  padding: $container-horizontal-spacing;
  box-shadow: 0 0 0 1px rgba(black, 0.05);
}

.c-list__media {
  height: 60px;
  width: auto;
  margin-left: spaces.spacing('small');
}

.c-list__data {
  flex-grow: 1;
  margin-left: spaces.spacing('small');
}

.c-list__action {
  margin-right: 0;
  margin-left: spaces.spacing('small');
  text-align: left;
  opacity: 0;
  transition: all 200ms ease;
}

.c-list:hover .c-list__action {
  opacity: 1;
}

.c-list--form-row {
  display: table-row;
}

@media (max-width: layout.$bp-tablet-small) {
  .c-list {
    flex-wrap: wrap;
    
  }
  .c-list__action {
    opacity: 1;
    text-align: right;
    flex-grow: 1;
  }

  .c-list__data:not(:first-of-type), .c-list__action {
    width: 100%;
    padding: $container-horizontal-spacing;
    border-top: 1px solid #f8f8f8;
    margin-left: - $container-horizontal-spacing;
    margin-right: - $container-horizontal-spacing;
    
  }
}