@use 'sass:color';
@use '../utilites/spacing.scss' as space;
@use '../config/colors.scss' as colors;


.c-textfield {
  display: flex;
  flex-flow: column;
  width: 100%;
}

.c-textfield__label {
  font-size: 15px;
  margin-bottom: space.spacing('extra-small');
}

.c-textfield__input, .c-textfield__textarea {
  height: 36px;
  padding: 8px 12px;
  width: 100%;
  border-radius: 3px;
  margin: space.spacing('none');
  border: 1px solid color.adjust(colors.$color-white, $lightness: -15%);
  box-shadow: inset 0px 1px 2px 0 rgba(color.adjust(colors.$color-primary, $lightness: -30% ), 0.2);


  &:focus {
    outline: 0;
    box-shadow: inset 0px 1px 2px 0 rgba(color.adjust(colors.$color-primary, $lightness: 30% ), 0.2), 0 0 0 2px colors.$color-primary;
  }
}
.c-textfield__textarea {
  height: 140px;
}

.c-textfield__hint {
  color: colors.$color-title-subdued;
  font-size: 13px;
}