{{#> components-container title="button"}}
  <ul class="c-actions">
    <li class="c-action">
      <span class="c-action__title">
        10 طلبات تحتاج معالجة
      </span>
      <a href="#" class="c-action__link c-btn">مشاهدة الطلبات</a>
    </li>
    <li class="c-action">
      <span class="c-action__title">
        5 رسائل تحتاج الاجابة
      </span>
      <a href="#" class="c-action__link c-btn ">مشاهدة الرسائل</a>
    </li>
    <li class="c-action">
      <span class="c-action__title">
        3 منتجات ضرورية على وشك النفاذ
      </span>
      <a href="#" class="c-action__link c-btn">مشاهدة المنتجات</a>

    </li>
  </ul>
{{/components-container}}